body{
    text-align: center;
}

#board {
    border: 10px solid black;
    background-color: goldenrod;
    
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    
    height: 660px;
    width: 770px;
}

.cell{
    height: 90px;
    width: 90px;

    border: 5px solid black;
    border-radius:50%;
    background-color: white;

    margin: 5px;
}

.reset{
    display: grid;
    justify-content: center;
    align-items: center;

    background: teal;

    width:200px;
    margin: 20px auto;
}

.red-Token {
    background-color:red;
}

.yellow-Token{
    background-color:yellow;
}